<section class="project-intro">
	<div class="project-intro-container">
		
		<div class="project-intro-info-container">
			<div class="project-intro-info">
				<h2>{{ page.title }}</h2>
				<p>{{ content }}</p>
			</div>
		</div>

		<div class="project-intro-image-container">

			<div class="project-intro-image-laptop" style="background-image: url(' {{ page.url(true) }}/{{ header.project_img_laptop }}');"></div>

			<div class="project-intro-image-phone" style="background-image: url(' {{ page.url(true) }}/{{ header.project_img_phone }}');"></div>

		</div>

	</div>
	<div class="project-intro-background-image" style="background-image: url(' {{ page.url(true) }}/{{ header.project_intro_background_image }}');"></div>
</section>

