<section class="project-intro" style="background-color: #{{ header.project_intro_background_color }};">
	<div class="project-intro-container">
		
		<div class="project-intro-info-container">
			<div class="project-intro-info">
				<h2>{{ page.title }}</h2>
				<p>{{ content }}</p>
			</div>
		</div>

		<div class="project-intro-image" style="background-image: url(' {{ page.url(true) }}/{{ header.project_img }}');" data-0="background-position:50% 0%;" data-500="background-position:50% 50%"></div>

	</div>
	<div class="project-intro-background-image" style="background-image: url(' {{ page.url(true) }}/{{ header.project_intro_background_image }}');"></div>
</section>

