{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content }}
    {% for module in page.collection() %}
        {{ module.content }}
    {% endfor %}
    {# <section class="project-foot">
		<div class="project-foot-container">
			<a href="{{ page.taxonomy.category('work').nextSibling.url }}" class="project-foot-prev project-foot-arrow">Previous Project</a>
			
			<a href="{{ base_url }}/#work-anchor" class="project-foot-back">
				<div class="project-foot-back-icon"></div>
				<span>All Work</span>
			</a>

			<a href="{{ page.adjacentSibling(-1).url }}" class="project-foot-next project-foot-arrow">Next Project</a>
		</div>


	</section> #}
{% endblock %}