{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>

{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {# <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" /> #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#242433">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {# Typekit #}
    <script src="https://use.typekit.net/alj5fvl.js"></script>  
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {% block stylesheets %}
        {% do assets.addCss('theme://css/normalize.css',101) %}
        {% do assets.addCss('theme://css/template.css',101) %}

        {# {% if browser.getBrowser == 'msie' and browser.getVersion == 10 %}
            {% do assets.addCss('theme://css/nucleus-ie10.css') %}
        {% endif %}
        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
            {% do assets.addCss('theme://css/nucleus-ie9.css') %}
            {% do assets.addJs('theme://js/html5shiv-printshiv.min.js') %}
        {% endif %} #}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery',101) %}
        {% do assets.addJs('theme://js/slick.min.js' ,99) %}
        {% do assets.addJs('theme://js/min/skrollr-min.js',93) %}
        {% do assets.addJs('theme://js/magnific-popup.js' ,97) %}
        {% do assets.addJs('theme://js/min/jqwidont-min.js' ,96) %}
        {% do assets.addJs('theme://js/min/fittext-min.js' ,95) %}
        {% do assets.addJs('theme://js/min/fangman-v1-min.js' ,94) %}

    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="no-js {{ page.header.body_classes }}">
        <script>
            $('body').removeClass('no-js');
        </script>

    {# <div id="preloader"> #}
      <div id="preloader">
        <div class="pl-circle pl-circle-one"></div>
        <div class="pl-circle pl-circle-two"></div>
        <div class="pl-circle pl-circle-three"></div>
      </div>
   {#  </div> #}
    <div id="sb-site">
        {% block header %}
        <header id="site-navigation" data-start="position:fixed;">
            <div class="site-nav-logo">
                <a href="{{ base_url }}/#welcome" class="link"><span class="site-title">{{ config.site.title }}<span class="nav-back"></span></a>
            </div>
            <div class="menu-toggle">Menu<div class="icon"></div></div>
            <div class="site-nav-menu-container">
                <a href="{{ base_url }}/#about" class="link"><h6>About</h6></a>
                <a href="{{ base_url }}/#work" class="link"><h6>Work</h6></a>
            </div>
        </header>
        {# <div id="site-menu">
            {% block header_extra %}{% endblock %}
            {% if config.plugins.langswitcher.enabled %}
            {% include 'partials/langswitcher.html.twig' %}
            {% endif %}
            {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
            {% endblock %}
            <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
        </div> #}
        {% endblock %}
        <div id="skrollr-body">

        {% block showcase %}{% endblock %}

        {% block body %}
        <section id="body" class="{{ class }}">
            {% block content %}{% endblock %}
        </section>
        {% endblock %}

        {% block footer %}
        <footer id="footer" data-60-end="opacity:0;" data-end="opacity:1;">
            <span class="footer-credit">Designed & Built by Michael Fangman © 2016</span>
        
        </footer>
        {% endblock %}
    </div>
    </div>
    {# <div class="sb-slidebar sb-left sb-width-thin">
        <div id="panel">
        {% include 'partials/navigation.html.twig' %}
        </div>
    </div> #}
    {% block bottom %}
        {{ assets.js('bottom') }}

        <script>
            $(function () {
                $(document).ready(function() {
                  $.slidebars({
                    hideControlClasses: true,
                    scrollLock: true
                  });
                });
            });
        </script>

        <script type="text/javascript">
            jQuery(".home-hero-content h1").fitText(.5, { minFontSize: '30px', maxFontSize: '150px' });
            jQuery(".project-intro-info h2").fitText(.5, { minFontSize: '24px', maxFontSize: '90px' });
            jQuery("#error h1").fitText(.5, { minFontSize: '24px', maxFontSize: '150px' });
        </script>

        <script type="text/javascript">
            $(document).ready(function(){
                var s = skrollr.init({
                    forceHeight: false
                });
                if (s.isMobile()) {
                    s.destroy();
                    $('#skrollr-body').addClass('noSkrollr');
                }
            });
        </script>

        <script type="text/javascript">
            // $(document).ready(function() {
            //     // $('body').css('display', 'none');
            //     // $('body').fadeIn(1000);
            //     $('.link').click(function() {
            //         event.preventDefault();
            //         newLocation = this.href;
            //         $('body').fadeOut(500, newpage);
            //     });
                
            //     function newpage() {
            //         window.location = newLocation;
            //     }
            // });
        </script>
        
    {% endblock %}
</body>
</html>
